<section>
  <div class="container-fluid bg-cover pmBg pb-5 p-5">
    <div class="rounded mx-auto">
      <h1 class="fw-bold text-center careerHeading display-5 text-white">
        Join Us
      </h1>
      <p class="text-white fs-2 fw-bold">
        discover yourself, reshape the world
      </p>
      <div class="divider"></div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5">
    <div class="row aboutRow">
      <div class="col-lg-6 imageCol" data-aos="zoom-in">
        <img
          class="img-fluid"
          src="assets/images/careerN1.gif"
          alt="alternative"
        />
      </div>
      <div class="col-6 mx-auto aboutSecCol p-3">
        <h1 class="display-6 mt-5 fw-bold" data-aos="zoom-in">
          Experienced Professionals
        </h1>
        <p class="my-4 fs-4" data-aos="fade-up">
          was established with the ambition to provide unparallel services and
          encouraging people to present their business <br />
          in the international market and revolutionize<br />
          IT industry
        </p>
        <a href="#" data-aos="fade-up" class="btn btn-main">Read More</a>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid bg-dark">
  <div class="container mt-5">
    <div class="row aboutRow mt-5">
      <div class="col-6 mx-auto p-3 mt-5">
        <h1 class="display-6 mt-5 text-white fw-bold" data-aos="zoom-in">
          Internship Program
        </h1>
        <p class="my-4 fs-4 text-white" data-aos="fade-up">
          was established with the ambition to provide unparallel services and
          encouraging people to present their business <br />
          in the international market and revolutionize<br />
          IT industry
        </p>
        <a href="#" data-aos="fade-up" class="btn btn-main bg-white"
          >Read More</a
        >
      </div>
      <div class="col-lg-6 imageCol2 pb-3" data-aos="zoom-in">
        <img
          class="img-fluid"
          src="assets/images/intern.gif"
          alt="alternative"
        />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mt-5">
    <div class="row aboutRow">
      <div class="col-6 mx-auto aboutSecCol p-3">
        <h1 class="display-6 mt-5" data-aos="zoom-in">
          CyberSoft Vantage – CSV
        </h1>
        <p class="my-4 fs-4" data-aos="fade-up">
          was established with the ambition to provide unparallel services and
          encouraging people to present their business <br />
          in the international market and revolutionize<br />
          IT industry
        </p>
        <a href="#" data-aos="fade-up" class="btn btn-main">Read More</a>
      </div>
      <div class="col-lg-6 imageCol" data-aos="zoom-in">
        <img
          class="img-fluid"
          src="assets/images/careerN1.gif"
          alt="alternative"
        />
      </div>
    </div>
  </div>
</section>
