.bg-cover {
    background-image: linear-gradient(rgba(199, 208, 17, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/career-steps.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
 .firstColumn
 {
  width: 42%;
 }

 
  .careerHeading
  {
    background-color: #ffc107;
    border-radius: 20px ;
    width: 15% !important;
  }
  .aboutSecCol
  {
    margin-top: 200px ;
  }
  .imageCol2
  {
    margin-top: 70px ;
  }
  .limitTextHeight {
    height: 32%;
    overflow: hidden;
  
}
@media  (max-width: 576px) {
.secondColumn
{
  width: 100% !important;

}
/* .firstColumn
{
  margin-left: 29px !important;
} */
.careerHeading {
  background-color: #ffc107;
  border-radius: 20px;
  width: 53% !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.aboutSecCol {
  margin-top: 166px;
}
.firstColumn
{
 width: unset !important;
}
.limitTextHeight {
  height: unset !important;
  overflow: hidden;

}
}
@media  (max-width: 767px) {
  .careerHeading{
    background-color: #ffc107;
    border-radius: 20px;
    width: 30% !important;
  }
  .firstColumn
{
 width: 100% !important;
}

}
