*{
    
  font-family: 'League Spartan', sans-serif;
}
* p{
  font-family: 'Assistant', sans-serif;
}
.bg-cover {
    background-image: url(/assets/images/testImages/aboutUS.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
 .firstColumn
 {
  width: 42%;
 }
  .careerHeading
  {
    background-color: #ffc107;
    border-radius: 20px ;
    width: 15% !important;
  }
  .aboutSecCol
  {
    margin-top: 200px ;
  }
  
  .limitTextHeight {
    height: 32px;
    overflow: hidden !important;
  
}
@media  (max-width: 576px) {
  .aboutSecCol
  {
    Margin-top: 50px !important ;
  }
.secondColumn
{
  width: 100% !important;

}
/* .firstColumn
{
  margin-left: 29px !important;
} */
.careerHeading {
  background-color: #ffc107;
  border-radius: 20px;
  width: 53% !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.aboutSecCol {
  margin-top: 166px;
}
.firstColumn
{
 width: unset !important;
}
.limitTextHeight {
  height: 32px;
  overflow: hidden !important;

}

}
@media  (max-width: 767px) {
  .firstColumn
{
 width: 100% !important;
}

}
