@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
.shopHeading
{
    
    background-color: black !important  ;
}

.btn-solid {
    border-radius: 11px;
    color: white;
    font-weight: bold;

    border: none;
}
@media  (max-width: 576px) {
	.ContactUSBar
    {
    text-align: center !important;
    }
    .contactUSBtn
    {
        margin-top: 10px;
        text-align: center !important;
    }
    .footerBottom1
    {
        text-align: center !important;
    }
    .footerBottom2
    {
        padding-left: 100px !important;
    }
    .moveTopBtn{
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #ffc107;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
  margin-left: 150px;
}

.moveTopBtn:hover {
  transform: scale(1.1);
}

.moveTopBtn:active {
  background-color: #ffc107;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  margin-bottom: 60%;
  border-bottom: 15px solid rgb(52, 52, 142);
}
}

@media  (max-width: 1280px) {
	.footerBottom2
    {
        margin-top: -10px;
        padding-left: 100px !important;
    }
   
  
}



.moveTopBtn{
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #ffc107;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  border: #004dff;
  transition: 0.5s;
}

.moveTopBtn:hover {
  transform: scale(1.1);
}

.moveTopBtn:active {
  background-color: #ffc107;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35%;
  margin-bottom: 60%;
  border-bottom: 15px solid rgb(52, 52, 142);
}
.callUsImage
{
width: 50px;
height: 50px;
}
.whatsapp
{
    text-decoration: none;
}
