<!--i have already done with html and css part will work on only angular part-->
<div class="client-count-wrp mt-100 bg-cover mt-3">
  <div class="container">
    <div class="heading text-center">
      <h4>
        We Spread <br />
        Around The World
      </h4>
    </div>
    <div
      class="client-count-wrp-inner CounterCount"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <div class="cards vl text-white px-2">
        <h4>{{ projectcount }}</h4>
        <p>Project Completed</p>
      </div>
      <!--card-->
      <div class="cards vl text-white px-2">
        <h4>{{ accuratecount + "+" }}</h4>
        <!--concat % sign-->
        <p>Employees</p>
      </div>
      <!--card-->
      <div class="cards vl text-white px-2">
        <h4>{{ clientcount }}</h4>
        <p>Offices</p>
      </div>
      <!--card-->
      <div class="cards vl text-white px-2">
        <h4>{{ customerfeedback + "Y+" }}</h4>
        <p>Experience</p>
      </div>
      <!--card-->
    </div>
  </div>
</div>
