*{
    
    font-family: 'League Spartan', sans-serif;
}
* p{
    font-family: 'Assistant', sans-serif;
}

.bg-cover {
	background-image: linear-gradient(rgb(33 33 32 / 70%), rgba(0, 0, 0, 0.7)),url(/assets/images/pm.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
    
}

h1{
	font-family: 'League Spartan', sans-serif;
	font-weight: 700;
}
.divider {
	height: 4px;
	width: 100px;
	background: linear-gradient(to top, #ffffff, #ffffff);
	margin: 16px auto;
    margin-top: -40px !important;
}

.columns
{ 
	width: 280px;
	height: 370px;
}

@media (max-width: 768px) {
   /* .pmRow
   {
	margin-left: 10px !important;
	margin-right: 10px !important;
   } */
   .columns
   {
	margin-top: 10px !important;
   }


}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	

	
}