<div class="container-fluid bg-cover pmBg pb-5 mt-5">
  <div class="ShopCards rounded mx-auto">
    <h1 class="shopHeading fw-bold text-center p-5 display-5 text-white">
      Project Management
    </h1>
    <div class="divider"></div>
    <div class="row justify-content-center align-item-center mt-5 pmRow">
      <div
        class="col-lg-2 columns shadow rounded col-sm-12 col-md-5 bg-white pt-5 p-3 border shadow mx-1"
        data-aos="fade-up"
      >
        <div class="text-center">
          <img
            class="img-fluid"
            src="/assets/images/testImages/testPlanning2.png"
            alt="alternative"
          />
        </div>
        <hr />

        <h1 class="text-center fs-4 firstHeading">
          Plan <br />Manage Develope
        </h1>
      </div>
      <div
        class="col-lg-2 columns shadow rounded col-sm-12 col-md-5 bg-white pt-5 p-3 border shadow"
        data-aos="fade-up"
      >
        <div class="text-center">
          <img
            class="img-fluid"
            src="/assets/images/testImages/testPlanning2.png"
            alt="alternative"
          />
        </div>
        <hr />
        <div>
          <h1 class="text-center fs-4">Cost-effective & time bound</h1>
        </div>
      </div>

      <div
        class="col-lg-2 columns shadow rounded col-sm-12 col-md-5 bg-white pt-5 p-3 border shadow mx-1"
        data-aos="fade-up"
      >
        <div class="text-center">
          <img
            class="img-fluid"
            src="/assets/images/testImages/testPlanning2.png"
            alt="alternative"
          />
        </div>
        <hr />
        <h1 class="text-center fs-4">Milestone tracking</h1>
      </div>

      <div
        class="col-lg-2 columns shadow rounded col-sm-12 col-md-5 bg-white pt-5 p-3 border shadow mx-1"
        data-aos="fade-up"
      >
        <div class="text-center">
          <img
            class="img-fluid"
            src="/assets/images/testImages/testPlanning2.png"
            alt="alternative"
          />
        </div>
        <hr />
        <h1 class="text-center fs-4">Task management</h1>
      </div>

      <div
        class="col-lg-2 columns shadow rounded col-sm-12 col-md-5 bg-white pt-5 p-3 border shadow mx-1"
        data-aos="fade-up"
      >
        <div class="text-center">
          <img
            class="img-fluid"
            src="/assets/images/testImages/testPlanning2.png"
            alt="alternative"
          />
        </div>
        <hr />

        <h1 class="text-center fs-4">24/7 online service & Support</h1>
      </div>
    </div>
  </div>
</div>
