<button class="btn btn-primary mt-3 offset-5" (click)="logoutUser()">
  Logout
</button>
<!-- **************************** JobPost ******************************** -->
<form class="mx-5 mt-5" [formGroup]="myForm">
  <h1 class="mx-5">Upload Job Positions</h1>
  <div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input
      required
      formControlName="jobTitle"
      id="jobTitle"
      type="text"
      class="form-control w-50"
    />
    <label for="industry">Industry</label>
    <input
      required
      formControlName="industry"
      id="industry"
      type="text"
      class="form-control w-50"
    />
    <label for="functionalArea">Functional Area</label>
    <input
      required
      formControlName="functionalArea"
      id="functionalArea"
      type="text"
      class="form-control w-50"
    />
    <label for="totalPositions">Total Positions</label>
    <input
      required
      formControlName="totalPositions"
      id="totalPositions"
      type="text"
      class="form-control w-50"
    />
    <label for="jobShift">Job Shift</label>
    <input
      required
      formControlName="jobShift"
      id="jobShift"
      type="text"
      class="form-control w-50"
    />
    <label for="jobType">Job Type</label>
    <input
      formControlName="jobType"
      id="jobType"
      type="text"
      class="form-control w-50"
    />
    <label for="jobLocation">Job Location</label>
    <input
      formControlName="jobLocation"
      id="jobLocation"
      type="text"
      class="form-control w-50"
    />
    <label for="gender">Gender</label>
    <input
      formControlName="gender"
      id="gender"
      type="text"
      class="form-control w-50"
    />
    <label for="minimumEducation">Minimum Education</label>
    <input
      formControlName="minimumEducation"
      id="minimumEducation"
      type="text"
      class="form-control w-50"
    />
    <label for="careerLevel">Career Level</label>
    <input
      formControlName="careerLevel"
      id="careerLevel"
      type="text"
      class="form-control w-50"
    />
    <label for="minimumExpertise">Expertise</label>
    <input
      formControlName="minimumExpertise"
      id="  minimumExpertise"
      type="text"
      class="form-control w-50"
    />

    <label for="applyBefore">Apply Before</label>
    <textarea
      formControlName="applyBefore"
      id="applyBefore"
      type="text"
      class="form-control w-50"
    >
    </textarea>
    <label for="postingDate">Posting Date</label>
    <textarea
      formControlName="postingDate"
      id="postingDate"
      type="text"
      class="form-control w-50"
    ></textarea>
    <label for="jobDesc">Job Description</label>
    <textarea
      formControlName="jobDesc"
      id="jobDesc"
      type="text"
      class="form-control w-50"
    >
    </textarea>
    <label for="extraKnowledge">Extra knowledge</label>
    <textarea
      formControlName="extraKnowledge"
      id="extraKnowledge"
      type="text"
      class="form-control w-50"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="file">Upload advert</label>
    <input
      formControlName="file"
      id="file"
      type="file"
      name="files"
      accept=".png, .jpg, .jpeg ,.mp4"
      multiple
      class="form-control w-50"
      (change)="onFileChange($event)"
    />
  </div>
  <button class="btn btn-primary mt-3" type="submit" (click)="submit()">
    Submit
  </button>
  <button class="btn btn-primary mt-3 mx-3" (click)="onUpdate()">Update</button>
  <hr class="text-primary" />
</form>
<!-- ****************************internPositionPost******************************** -->
<form class="mx-5 mt-5" [formGroup]="internForm" (ngSubmit)="submitIntern()">
  <h1 class="mx-5">Upload Internship Positions</h1>
  <div class="form-group">
    <label for="jobTitle">Job Title</label>
    <input
      required
      formControlName="jobTitle"
      id="jobTitle"
      type="text"
      class="form-control w-50"
    />
    <label for="industry">Industry</label>
    <input
      required
      formControlName="industry"
      id="industry"
      type="text"
      class="form-control w-50"
    />
    <label for="functionalArea">Functional Area</label>
    <input
      required
      formControlName="functionalArea"
      id="functionalArea"
      type="text"
      class="form-control w-50"
    />
    <label for="totalPositions">Total Positions</label>
    <input
      required
      formControlName="totalPositions"
      id="totalPositions"
      type="text"
      class="form-control w-50"
    />
    <label for="jobShift">Job Shift</label>
    <input
      required
      formControlName="jobShift"
      id="jobShift"
      type="text"
      class="form-control w-50"
    />
    <label for="jobType">Job Type</label>
    <input
      formControlName="jobType"
      id="jobType"
      type="text"
      class="form-control w-50"
    />
    <label for="jobLocation">Job Location</label>
    <input
      formControlName="jobLocation"
      id="jobLocation"
      type="text"
      class="form-control w-50"
    />
    <label for="gender">Gender</label>
    <input
      formControlName="gender"
      id="gender"
      type="text"
      class="form-control w-50"
    />
    <label for="minimumEducation">Minimum Education</label>
    <input
      formControlName="minimumEducation"
      id="minimumEducation"
      type="text"
      class="form-control w-50"
    />
    <label for="careerLevel">Career Level</label>
    <input
      formControlName="careerLevel"
      id="careerLevel"
      type="text"
      class="form-control w-50"
    />
    <label for="  minimumExpertise">Expertise</label>
    <input
      formControlName="minimumExpertise"
      id="  minimumExpertise"
      type="text"
      class="form-control w-50"
    />

    <label for="applyBefore">Apply Before</label>
    <textarea
      formControlName="applyBefore"
      id="applyBefore"
      type="text"
      class="form-control w-50"
    >
    </textarea>
    <label for="postingDate">Posting Date</label>
    <textarea
      formControlName="postingDate"
      id="postingDate"
      type="text"
      class="form-control w-50"
    ></textarea>
    <label for="jobDesc">Job Description</label>
    <textarea
      formControlName="jobDesc"
      id="jobDesc"
      type="text"
      class="form-control w-50"
    >
    </textarea>
    <label for="extraKnowledge">Extra knowledge</label>
    <textarea
      formControlName="extraKnowledge"
      id="extraKnowledge"
      type="text"
      class="form-control w-50"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="file">Uplod advert</label>
    <input
      formControlName="file"
      id="file"
      type="file"
      name="files"
      accept=".png, .jpg, .jpeg ,.mp4"
      multiple
      class="form-control w-50"
      (change)="onFileChange($event)"
    />
  </div>

  <button class="btn btn-primary mt-3" type="submit">Submit</button>
  <hr class="text-primary" />
</form>
<!-- **************************** Team add ******************************** -->
<form class="mx-5 mt-5" [formGroup]="TeamForm" (ngSubmit)="submitTeam()">
  <h1 class="mx-5">Upload Employee Data</h1>
  <div class="form-group">
    <label for="name">Employee Name</label>
    <input
      required
      formControlName="name"
      id="name"
      type="text"
      class="form-control w-50"
    />
    <label for="designation">Employee Designation</label>
    <input
      formControlName="designation"
      id="detail"
      type="text"
      class="form-control w-50"
    />
  </div>
  <div class="form-group">
    <label for="file">Employee Image</label>
    <input
      formControlName="file"
      id="file"
      type="file"
      name="files"
      accept=".png, .jpg, .jpeg ,.mp4"
      multiple
      class="form-control w-50"
      (change)="onFileChangeTeam($event)"
    />
  </div>

  <button class="btn btn-primary mt-3" type="submit">Submit</button>
  <hr class="text-primary" />
</form>
<!-- ****************************Job & internee applicants data******************************** -->
<section class="container" data-aos="fade-up" data-aos-duration="1500">
  <!-- ****************************Job applicants data******************************** -->
  <h1 class="text-center">Applicants for Job</h1>
  <h1 class="fs-5 mx-5">Applicants({{ jobApplicantsLength }})</h1>
  <table class="border mt-3 mb-5 w-100 bg-secondary text-white rounded">
    <tr class="border p-3">
      <th class="border p-2">Applicant Name</th>
      <th class="border p-2">Applicant Contact</th>
      <th class="border p-2">Applicant Email</th>
      <th class="border p-2">Job Title</th>
      <th class="border p-2">Applicant Expertise</th>
      <th class="border p-2">Applicant CV</th>
    </tr>
    <ng-container *ngFor="let data of jobsData">
      <tr class="border p-3">
        <td class="border p-3">{{ data.name }}</td>
        <td class="border p-3">{{ data.pNum }}</td>
        <td class="border p-3">{{ data.email }}</td>
        <td class="border p-3">{{ data.jTitle }}</td>
        <td class="border p-3">{{ data.expertise }}</td>
        <td class="border p-3">
          <a
            href="{{ data.url }}"
            target="_blank"
            class=""
            style="text-decoration: none"
            >CV</a
          >
        </td>
      </tr>
    </ng-container>
    <hr class="text-primary" />
  </table>
  <!-- **************************** Internee Applicantts ******************************** -->
  <h1 class="text-center">Applicants for Internship</h1>
  <table class="border mt-3 mb-5 w-100 bg-secondary text-white rounded">
    <tr class="border p-3">
      <th class="border p-2">Applicant Name</th>
      <th class="border p-2">Applicant Contact</th>
      <th class="border p-2">Applicant Email</th>
      <th class="border p-2">Job Title</th>
      <th class="border p-2">Applicant Expertise</th>
      <th class="border p-2">Applicant CV</th>
    </tr>
    <ng-container *ngFor="let data of InterneeData">
      <tr class="border p-3">
        <td class="border p-2">{{ data.name }}</td>
        <td class="border p-2">{{ data.pNum }}</td>
        <td class="border p-2">{{ data.email }}</td>
        <td class="border p-2">{{ data.jTitle }}</td>
        <td class="border p-2">{{ data.expertise }}</td>
        <td class="border p-3 p-4">
          <button class="btn btn-primary mt-3" (click)="openDetailsModal()">
            Details
          </button>
        </td>
      </tr>
    </ng-container>
    <hr class="text-primary" />
  </table>
</section>
<hr class="text-primary" />
<!-- **************************** Contact US data******************************** -->
<section class="container">
  <h1 class="text-center" data-aos="fade-up" data-aos-duration="1500">
    Contact Us Data
  </h1>
  <h1 class="fs-5 mx-5">Messages({{ contactApplicantsLength }})</h1>
  <table class="shadow w-100 bg-secondary text-white rounded">
    <div class="contactUSHeading"></div>
    <tr class="border p-3">
      <th class="border p-3">Name</th>
      <th class="border p-3">Email</th>
      <th class="border p-3">Message</th>
    </tr>
    <ng-container *ngFor="let msg of contactusData; let i = index">
      <tr class="border p-3">
        <td class="border p-3">{{ msg.name }}</td>
        <td class="border p-3">{{ msg.email }}</td>
        <td class="border p-3">{{ msg.message }}</td>
      </tr>
    </ng-container>
  </table>
</section>
<!-- ****************************viewJobAdvert******************************** -->
<section class="container mt-5">
  <ng-container>
    <h1 class="text-center">Job Postions advertisement</h1>
    <h1 class="fs-5 mx-5">Advertisements({{ jobsLength }})</h1>
    <div
      class="shadow w-100 bg-secondary text-white rounded"
      data-aos="fade-up"
      data-aos-duration="1500"
    >
      <table class="border mt-3 mb-5 w-100">
        <tr class="border p-3">
          <th class="border p-3">Job Title</th>
          <th class="border p-3">Functional Area</th>
          <th class="border p-3">Total Positions</th>
          <th class="border p-3">Gender</th>
          <th class="border p-3">Apply Before</th>
          <th class="border p-3">Posting Date</th>
        </tr>
        <ng-container *ngFor="let job of JobsAdvertArray; let i = index">
          <tr class="border p-3">
            <td class="border p-3">{{ job.jobTitle }}</td>
            <td class="border p-3">{{ job.functionalArea }}</td>
            <td class="border p-3">{{ job.totalPositions }}</td>
            <td class="border p-3">{{ job.gender }}</td>
            <td class="border p-3">{{ job.applyBefore }}</td>
            <td class="border p-3">{{ job.postingDate }}</td>
            <td class="border p-3 p-4">
              <button class="btn btn-primary mt-3" (click)="openDetailsModal()">
                Details
              </button>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </ng-container>
</section>
<!-- ****************************Scrollable modal******************************** -->
<ng-container *ngFor="let job of JobsAdvertArray; let i = index">
  <div class="backdrop" [ngStyle]="{ display: display }">
    <div
      class="modal"
      tabindex="-1"
      role="dialog"
      [ngStyle]="{ display: display }"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              aria-label="Close"
              (click)="onCloseHandled()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modalContent card-product mt-4">
            <table class="border mt-3 mb-5">
              <tr class="border">
                <th class="border p-3">Job Title</th>
                <td class="border p-3">{{ job.jobTitle }}</td>
              </tr>
              <tr>
                <th class="border w-25">Functional Area</th>
                <td class="border mx-2 p-3">{{ job.functionalArea }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">Total Positions</th>
                <td class="mx-2 p-3">{{ job.totalPositions }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">Gender</th>
                <td class="mx-2 p-3">{{ job.gender }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">Apply Before</th>
                <td class="mx-2 p-3">{{ job.applyBefore }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">Posting Date</th>
                <td class="mx-2 p-3">{{ job.postingDate }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">job Type</th>
                <td class="mx-2 p-3">{{ job.jobType }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">job Location</th>
                <td class="mx-2 p-3">{{ job.jobLocation }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">job Shift</th>
                <td class="mx-2 p-3">{{ job.jobShift }}</td>
              </tr>

              <tr class="border w-25 p-3">
                <th class="border p-3">Minimum Education</th>
                <td class="mx-2 p-3">{{ job.minimumEducation }}</td>
              </tr>
              <tr class="border p-3">
                <th class="border p-3">Career Level</th>
                <td class="mx-2 p-3">{{ job.careerLevel }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">Minimum Expertise</th>
                <td class="mx-2 p-3">{{ job.minimumExpertise }}</td>
              </tr>

              <tr class="border w-25 p-3">
                <th class="border p-3">job Desc</th>
                <td class="mx-2 p-3">{{ job.jobDesc }}</td>
              </tr>
              <tr class="border w-25 p-3">
                <th class="border p-3">Extra Knowledge</th>
                <td class="mx-2 p-3">{{ job.extraKnowledge }}</td>
              </tr>
              <tr class="border p-3">
                <th class="border w-25 p-3">Industry</th>
                <td class="border mx-2 p-3">{{ job.industry }}</td>
              </tr>
            </table>
            <div class="mb-3 p-3">
              <button
                class="btn btn-primary mt-3"
                (click)="onEditClick(job._id)"
              >
                Edit
              </button>
              <button
                class="mx-2 btn btn-primary mt-3"
                (click)="onDelete(job._id, i)"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
