<section class="container-fluid bg-cover">
  <div class="container pt-5 pb-5">
    <div class="border w-50 p-3 bg-white">
      <h1 class="text-center">Login</h1>
      <form class="border p-5" [formGroup]="adminForm">
        <label for="email" class="fw-bold">Email</label>
        <input
          type="email"
          formControlName="email"
          name="Email"
          class="form-control w-50 form-group"
          placeholder="name21@gmail.com"
          required
        />
        <div *ngIf="(submitted || f['email'].touched) && f['email'].invalid">
          <div
            *ngIf="f['email'].errors && f['email'].errors['required']"
            style="color: red"
            class="error"
          >
            Please Enter Email
          </div>
        </div>
        <label for="password" class="fw-bold">Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control w-50 form-group"
          placeholder="password"
          required
        />
        <div
          *ngIf="(submitted || f['password'].touched) && f['password'].invalid"
        >
          <div
            *ngIf="f['password'].errors && f['password'].errors['required']"
            style="color: red"
          >
            Please Enter Password
          </div>
        </div>
        <br />
        <button
          type="submit"
          class="btn bg-primary text-white contact_form_submit fw-bold"
          (click)="login()"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
