<div class="container-fluid bg-cover pmBg pb-5 p-5">
  <div class="rounded mx-auto">
    <h1
      class="fw-bold text-center aboutHeading p-5 display-5 text-white"
      data-aos="fade-down"
      data-aos-duration="1500"
    >
      About Us
    </h1>
    <div class="divider"></div>
  </div>
</div>
<section
  class="missionVisionContaner"
  data-aos="zoom-in"
  data-aos-duration="1500"
>
  <div class="h1 text-center fw-bold pt-5">
    <h1 class="missionVisionHeading">Our Mission & Vision</h1>
  </div>
  <div
    class="container d-flex align-items-center justify-content-center flex-wrap"
  >
    <div class="box">
      <div class="body">
        <div class="imgContainer">
          <img src="/assets//images/testImages/mission1.png" alt="" />
        </div>
        <div
          class="content d-flex flex-column align-items-center justify-content-center"
        >
          <div>
            <h3 class="text-white fs-5 fw-bold">Our Mission</h3>
            <p class="fs-6 text-white">
              For delivering ingenious, efficient, cost-effective and quality
              business solutions through supply and services for global market
              by creating a professionally stimulating and friendly environment
              for our team where professionals drive side by side to the growth
              of our company.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="body">
        <div class="imgContainer">
          <img src="/assets/images/testImages/testVision.png" alt="" />
        </div>
        <div
          class="content d-flex flex-column align-items-center justify-content-center"
        >
          <div>
            <h3 class="text-white fs-5 fw-bold">Our Vision</h3>
            <p class="fs-6 text-white">
              To be one of the leading IT company who deliver through
              excellence. To penetrate in the economy to create reliable
              solutions intelligently and economically with core services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div
    class="container-fluid pb-5 bg-white"
    data-aos="fade-down"
    data-aos-duration="1500"
  >
    <div class="container mt-2">
      <div class="text-center mb-2-8 mb-lg-6 pt-2 whyChooseUsHeading">
        <h2 class="fw-bold p-3 chooseUsHeading">Why Choose us</h2>
        <span class="fs-5"
          ><b>CSV</b> has earned an international reputation as a firm that has
          the broad-spectrum of talent and expertise needed to plan, design,
          build, and market remarkable web sites applications and products</span
        ><br />
        <b>CSV</b> offers
      </div>
      <div
        class="row align-items-center justify-content-center mx-5 mt-5 whyChooseUs"
      >
        <div class="col-sm-6 col-lg-4 mb-2-9 mb-sm-0">
          <div class="pr-md-3">
            <div class="text-center text-sm-right mb-2-9">
              <div class="mb-4 p-2">
                <img
                  class=""
                  src="https://img.icons8.com/ultraviolet/80/000000/cheap-2.png"
                  alt="..."
                  class="rounded-circle w-25"
                />
              </div>
              <h4 class="sub-info">Cost Effective Pricing</h4>
              <p class="mb-0">
                We make sure our prices and solution strategies match our
                client’s expectations
              </p>
            </div>
            <div class="text-center text-sm-right">
              <div class="mb-4 mt-3">
                <img
                  class=""
                  src="https://img.icons8.com/external-smashingstocks-flat-smashing-stocks/66/FFFFFF/external-customer-care-tech-support-mentoring-and-training-smashingstocks-flat-smashing-stocks-2.png"
                  alt="..."
                  class="rounded-circle w-25"
                />
              </div>
              <h4 class="sub-info">Ensured Service Levels</h4>
              <p class="mb-0">
                We ensure that our clients enjoy unparalleled customer care and
                support by getting them dedicated attention from the best minds
                in the industry
              </p>
            </div>
            <div class="text-center text-sm-right">
              <div class="mb-4 mt-3">
                <img
                  class=""
                  src="https://img.icons8.com/fluency/48/FFFFFF/conference-background-selected.png"
                  alt="..."
                  class="rounded-circle w-25"
                />
              </div>
              <h4 class="sub-info">Domain Expertise</h4>
              <p class="mb-0">
                We have built a large knowledge base and human resource which is
                regularly refined and updated to ensure the most up-to-date best
                practices in the IT industry
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="why-choose-center-image">
            <img
              src="/assets//images//wcuCenter.png"
              alt="..."
              class="rounded-circle p-5"
              w-25
            />
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="">
            <div class="text-center text-sm-left mb-2-9">
              <div class="mb-4 mt-3">
                <img
                  class=""
                  src="https://img.icons8.com/external-flaticons-flat-flat-icons/64/000000/external-reliability-security-flaticons-flat-flat-icons.png"
                  alt="..."
                  class="rounded-circle w-25"
                />
              </div>
              <h4 class="sub-info">Reliability</h4>
              <p class="mb-0">
                We at CSV, consider reliability as a part of our culture this
                has led us to the pinnacle of professional excellence
              </p>
            </div>

            <div class="text-center text-sm-left">
              <div class="mb-4 mt-3">
                <img
                  class=""
                  src="https://img.icons8.com/ultraviolet/80/FFFFFF/greentech.png"
                  alt="..."
                  class="rounded-circle w-25"
                  w-25
                />
              </div>
              <h4 class="sub-info">Innovation</h4>
              <p class="mb-0">
                Our employees work around the clock to come up with
                revolutionary ideas and cutting edge technological innovations
              </p>
            </div>
            <div class="text-center text-sm-left">
              <div class="mb-4 mt-3">
                <img
                  class=""
                  src="https://img.icons8.com/ios-filled/100/22C3E6/data-protection.png"
                  alt="..."
                  class="rounded-circle w-25"
                  w-25
                />
              </div>
              <h4 class="sub-info">Data Security</h4>
              <p class="mb-0">
                Here at CSV Data Security is our utmost priority which is
                translated into our client’s peace of mind
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- core values slider -->
<div
  class="container-fluid bg-cover2 pb-4"
  data-aos="fade-down"
  data-aos-duration="1500"
>
  <div class="container pt-5 pb-5">
    <h1
      class="display-5 fw-bold text-center text-white rounded pb-4 p-1 expertiseColumns"
    >
      Core Value
    </h1>
    <div class="divider"></div>
    <div
      id="carouselExample1"
      class="carousel CoreValuesCarousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExample1"
          data-bs-slide-to="0"
          class="active buttonBg"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          class="active buttonBg"
          data-bs-target="#carouselExample1"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          class="active buttonBg"
          data-bs-target="#carouselExample1"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner coreValues">
        <div class="carousel-item active">
          <div class="row CoreValuesRow justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-1 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/testCoreV.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3 mt-lg-3">Transparency</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Transparency</h2>
                    <br />
                    <p class="des">
                      We focus on regular communication and transparency from
                      the first day. You will get full access to regular
                      reports, and invitations to all the meetings
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-1 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/security.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Security</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Security</h2>
                    <br />
                    <p class="des">
                      An NDA, code ownership, and a security strategy will make
                      you feel completely safe during our cooperation.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-5 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/trust.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Trust</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Trust</h2>
                    <br />
                    <p class="des">
                      We work for your trust - you will receive full business
                      and technological support from us from day one
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row CoreValuesRow justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-1 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/quality.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Quality</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Quality</h2>
                    <br />
                    <p class="des">
                      Our goal is to deliver the highest quality services. We
                      have implemented multiple processes to improve the way we
                      work, such as training sessions, QA, and code reviews. We
                      believe in Software Quality that is essential to deliver
                      the product on time and on the required quality. CSV
                      pursue quality as a way of service. It is an attitude that
                      affects everything we do for relentless pursuit of
                      excellence.” CSV recognizes employees’ input towards
                      quality by emphasizing skills development and
                      professionalism.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-1 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/innovation.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Learning and Innovation</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Learning and Innovation</h2>
                    <br />
                    <p class="des">
                      CSV embraces lifelong learning and innovation as an
                      essential catalyst for our future success. We believe in
                      continuous improvement and to seize opportunities inherent
                      in change to shape the future. All employees of CSV will
                      strive to keep themselves abreast with the new
                      developments in their respective areas and will not
                      hesitate to take initiatives that could bring improvement
                      in the way of our working.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-5 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/cmt.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Excellence</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Excellence</h2>
                    <br />
                    <p class="des">Striving in excellence for quality</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row CoreValuesRow justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-1 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/tw.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Team Work</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Team Work</h2>
                    <br />
                    <p class="des">
                      Focusing on mutual respect and cooperation CSV believes
                      that competent and satisfied people are the Company’s
                      heart and soul. CSV encourages flashes of genius in
                      organization’s life by reinforcing attitude of team work
                      and knowledge sharing based on mutual respect, trust and
                      openness.” CSV will all make utmost efforts to foster team
                      work in respective areas and will give special attention
                      to the following aspects: Equal Employment Opportunity
                      Employee Retention Work Environment
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-1 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/integrity.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Integrity</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Integrity</h2>
                    <br />
                    <p class="des">Acting reliably, honestly and ethically</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-5">
              <div class="card mx-md-5 mt-md-2">
                <div class="content">
                  <div class="front">
                    <img
                      class="profile"
                      width="100%"
                      src="/assets/images/testImages/commit.png"
                      alt="wen dev"
                    />
                    <h2 class="fs-4 mt-lg-3">Commitment</h2>
                  </div>
                  <div class="back from-left">
                    <h2>Commitment</h2>
                    <br />
                    <p class="des">
                      Delivering the objectives by efficiently utilizing the
                      available resources.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- counter -->
<app-counter></app-counter>

<!-- contact us -->
<!-- <section class="contact_us" data-aos="zoom-in">
  <div class="container">
    <div class="row justify-content-center align-items-center contactUSRow">
      <div class="col-md-10 offset-md-1">
        <div class="contact_inner mx-4">
          <div class="row">
            <div class="col-md-10">
              <div class="contact_form_inner">
                <div class="contact_field">
                  <h3 class="fw-bold">Contact Us</h3>
                  <p>
                    Feel Free to contact us any time. We will get back to you as
                    soon as we can!.
                  </p>
                  <form
                    action="https://formsubmit.co/info@cybersoftvantage.com"
                    method="POST"
                  >
                    <input
                      type="text"
                      name="Name"
                      class="form-control form-group"
                      placeholder="Name"
                      required
                    />
                    <input
                      type="email"
                      name="Email"
                      class="form-control form-group"
                      placeholder="Email"
                      required
                    />
                    <textarea
                      name="Message"
                      class="form-control form-group"
                      placeholder="Message"
                      required
                    ></textarea>
                    <button type="submit" class="contact_form_submit fw-bold">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="right_conatct_social_icon d-flex align-items-end">
                <div class="socil_item_inner d-flex">
                  <li>
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <div class="contact_info_sec text-white">
            <h4>Contact Info</h4>
            <div class="d-flex info_single align-items-center">
              <i class="fas fa-headset"></i>
              <span>+92 333 561 4455</span>
            </div>
            <div class="d-flex info_single align-items-center">
              <i class="fas fa-envelope-open-text"></i>
              <span>info@cybersoftvantage.com</span>
            </div>
            <div class="d-flex info_single align-items-center">
              <i class="fas fa-map-marked-alt"></i>
              <span
                >Headquarters: Plot 94, Street 7, I-10/3, Islamabad,
                Pakistan</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- team section -->
<app-team></app-team>
