<div class="container mb-4 mt-4">
  <div class="container">
    <h1 class="fs-5">Latest jobs({{ jobsLength }})</h1>
    <section class="mt-5">
      <ng-container *ngFor="let job of internAdvertArray; let i = index">
        <div class="row">
          <div class="col-lg-6 col-sm-6 col-md-6">
            <p class="fs-3">{{ job.jobTitle }}</p>
            <div
              class="fs-4"
              [ngClass]="job.expanded ? 'show' : 'hide'"
              data-aos="fade-up"
            >
              <h1 class="fs-5 fw-bold">Job Details</h1>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Company:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.industry }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Functional Area:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.functionalArea }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Total Positions:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.totalPositions }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Job Shift:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.jobShift }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Job Type:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.jobType }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Job Location:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.jobLocation }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Gender:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.gender }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Minimum Education:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.minimumEducation }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Career Level:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.careerLevel }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Minimum Experience:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.minimumExpertise }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Apply Before:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.applyBefore }}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="fw-bold fs-5">Posting date:</h1>
                </div>
                <div class="col-lg-6">
                  <p class="fs-6">{{ job.postingDate }}</p>
                </div>
              </div>
              <div>
                <hr />
                <h1 class="fs-5 fw-bold jobDesc">Job Description</h1>
                <div>
                  <ul class="fs-6">
                    <li>{{ job.jobDesc }}</li>
                  </ul>
                </div>
                <h1 class="fs-5 fw-bold jobDesc2">
                  Knowledge of the following will be considered as an advantage:
                </h1>
                <div>
                  <ul class="fs-6">
                    <li>
                      {{ job.extraKnowledge }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="d-flex applyBtn">
              <button
                class="rounded bg-white mb-2"
                type="button "
                (click)="showText(i)"
              >
                {{ job.expanded ? "Hide" : "Job Details" }}
              </button>
              <button
                class="btn border-primary px-4 offset-lg-7 fw-bold btnAll mb-2"
                (click)="moveToJobs()"
              >
                Apply
              </button>
            </div>
          </div>

          <hr class="hr" />
        </div>
      </ng-container>
    </section>
  </div>
</div>
