table, th, td {
    border:1px solid black;
  }
  *{
    
    font-family: 'League Spartan', sans-serif;
  }
  * p{
    font-family: 'Assistant', sans-serif;
  }
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  .btnAll
  {
    margin-left: 8%;
    height: 10%;
    
  }
  .JobForm{
    width: 50%;
  }
  .jobDesc:hover {
    width: 40%;
    border-bottom: 3px solid rgb(190, 201, 30);
  }
  .jobDesc2:hover {
    width: 100%;
    border-bottom: 3px solid rgb(190, 201, 30);
  }
 
 
  
 
  @media (max-width: 576px) {
    .colmn
    {
      width:unset !important;
    }
    .JobForm{
      width: 100% !important;
    }
    .form-control
    {
      width: 100% !important;
    }
    
  }