<div class="container-fluid bg-cover">
  <div class="container pt-5">
    <h1
      class="display-5 fw-bold text-center rounded pb-3 p-1 expertiseColumns"
      data-aos="fade-up"
    >
      Core Value
    </h1>
    <div class="divider"></div>
    <div
      id="carouselExample"
      class="carousel CoreValuesCarousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide-to="0"
          class="active buttonBg"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          class="active buttonBg"
          data-bs-target="#carouselExample"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          class="active buttonBg"
          data-bs-target="#carouselExample"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner coreValues">
        <div class="carousel-item active">
          <div class="row justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3" data-aos="fade-right">
                <div class="box1">
                  <div class="content">
                    <h2>01</h2>
                    <h3>Transparency</h3>
                    <p>
                      We focus on regular communication and transparency from
                      the first day. You will get full access to regular
                      reports, and invitations to all the meetings
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6" data-aos="fade-up">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>02</h2>
                    <h3>Security</h3>
                    <p>
                      An NDA, code ownership, and a security strategy will make
                      you feel completely safe during our cooperation
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6" data-aos="fade-left">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>03</h2>
                    <h3>Trust</h3>
                    <p>
                      We work for your trust - you will receive full business
                      and technological support from us from day one
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>04</h2>
                    <h3>Quality</h3>
                    <p>
                      Our goal is to deliver the highest quality services. We
                      have implemented multiple processes to improve the way we
                      work, such as training sessions, QA, and code reviews
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>05</h2>
                    <h3>Learning and Innovation</h3>
                    <p>
                      CSV embraces lifelong learning and innovation as an
                      essential catalyst for our future success. We believe in
                      continuous improvement and to seize opportunities inherent
                      in change to shape the future
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>06</h2>
                    <h3>Excellence</h3>
                    <p>Striving in excellence for quality</p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>07</h2>
                    <h3>Team Work</h3>
                    <p>
                      Focusing on mutual respect and cooperation CSV believes
                      that competent and satisfied people are the Company’s
                      heart and soul.
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>08</h2>
                    <h3>Integrity</h3>
                    <p>Acting reliably, honestly and ethically</p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>09</h2>
                    <h3>Commitment</h3>
                    <p>
                      Delivering the objectives by efficiently utilizing the
                      available resources
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-evenly p-2">
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>10</h2>
                    <h3>Building Trust</h3>
                    <p>
                      Making trust the basis and complete focus on client
                      satisfaction to proactively find solutions that best
                      achieve the goals.
                    </p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-4 col-md-6">
              <div class="card mx-lg-3 mt-lg-3">
                <div class="box1">
                  <div class="content">
                    <h2>11</h2>
                    <h3>Integrity</h3>
                    <p>Acting reliably, honestly and ethically</p>
                    <button class="mx-3">
                      <span>Read More</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
