.bg-cover {
  background-image: url(/assets/images/testImages/serv.png);
  background-position: end;
  background-repeat: no-repeat;
  background-size: cover;

 
}

.aboutHeading
{
  font-weight: 800;
}

.divider {
  height: 4px;
  width: 100px;
  background: linear-gradient(to top, #ffffff, #ffffff);
  margin: 16px auto;
  margin-top: -14px !important;
}



/* skills */
.skillscol 
{
  border-radius: 30px !important ;

  height: 300px;
  background:white;
 transition: .3s all;
 color: white;

 
}

.skillscol:hover, .skillscol:hover .card-body {
  background: linear-gradient(-30deg, #0576bc 67%, #38b7ae);
  transform:translateY(-20px);
 
 
}
.skillscol .card-body
{
  /* background: linear-gradient(30deg,  #38b7ae,#0576bc 67%); */
  background: linear-gradient(90deg, #01d6c6 -8%, #0576bc 17%);
  border-radius: 10px 100px / 120px;
  height: 270px;
  transition: .3s all;
 
}
.skillscol:hover .card-body {
  background: white ;
color: black;

}


/* contact us */
 /* contact us */
 body{
  color:#fff
}
.right_conatct_social_icon{
  background: #ffc107;
}
.contact_us{
    background-color: #f1f1f1;
    padding: 120px 0px;
}

.contact_inner{
    background-color: #fff;
    position: relative;
    box-shadow: 20px 22px 44px #cccc;
    border-radius: 25px;
}
.contact_field{
    padding: 60px 340px 90px 100px;
}
.right_conatct_social_icon{
    height: 100%;
}

.contact_field h3{
  color: #0d6efd;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 10px
}
.contact_field p{
    color: #000;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.contact_field .form-control{
    border-radius: 0px;
    border: none;
    border-bottom: 1px solid #ccc;
}
.contact_field .form-control:focus{
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #1325e8;
}
.contact_field .form-control::placeholder{
    font-size: 13px;
    letter-spacing: 1px;
}

.contact_info_sec {
    position: absolute;
    background-color: #2d2d2d;
    right: 1px;
    top: 18%;
    height: 340px;
    width: 340px;
    padding: 40px;
    border-radius: 25px 0 0 25px;
}
.contact_info_sec h4{
    letter-spacing: 1px;
    padding-bottom: 15px;
}

.info_single{
    margin: 30px 0px;
}
.info_single i{
    margin-right: 15px;
}
.info_single span{
    font-size: 14px;
    letter-spacing: 1px;
}

button.contact_form_submit {
    background: #ffc107;
    border: none;
    color: #fff;
    padding: 10px 15px;
    width: 100%;
    margin-top: 25px;
    border-radius: 35px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
}
.socil_item_inner li{
    list-style: none;
}
.socil_item_inner li a{
    color: #fff;
    margin: 0px 15px;
    font-size: 14px;
}
.socil_item_inner{
    padding-bottom: 10px;
}

.map_sec{
    padding: 50px 0px;
}
.map_inner h4, .map_inner p{
    color: #000;
    text-align: center
}
.map_inner p{
    font-size: 13px;
}
.map_bind{
   margin-top: 50px;
    border-radius: 30px;
    overflow: hidden;
} 

/* our services */
.servicesMain
{
  margin-top: -100px;
}
.ToggleButton
{
  text-decoration: none;
}
/* .servicescolumns
{
  width: 24% !important;
} */

@media screen and (max-width: 768px) {

    .container {
      width: 100%;
    }
  
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  
    .container {
      width: 100%;
      margin-left: -11px;
    }
  
    .missionVisionHeading {
      margin-left: -11px;
    }
    .contact_field h3 {
      padding: 12px 12px 12px 12px !important;
  
    }
  
    .contact_field p {
      width: 200px !important;
      margin-left: 30px;
    }
  
    .contactColumns {
      width: 75% !important;
      margin-left: 130px !important;
      margin-top: -100px !important;
      
    }
  
  
    .form-control {
      width: 200px !important;
      margin-left: 30px !important;
      margin-top: 5px;
    }
  
    button.contact_form_submit {
      width: unset !important;
      margin-bottom: 13px;
    }
    .contact_info_sec {
      width: 276px;
      margin-top: -20px;
  
  
    }
   
  
    .contact_field {
      padding-left: 20px !important;
    
    }
    .CoreValuesRow {
      margin-left: 15px !important;
    }
  
    .why-choose-center-image
    {
      margin-left: 40px !important;
    }
  }
  
  /* mobile responsivr */
  @media (max-width: 576px) {
    .coreValues {
      display: flex;
  
      flex-wrap: wrap;
      max-width: 1200px;
  
    }
  .skillscol
  {
    margin-top: 30px !important;
    
  }
  /* .servicescolumns
{
  width: unset !important;
} */
    .coreValues .card {
      position: relative;
      width: 250px;
      height: 400px;
      box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
        inset -5px -5px 15px rgba(255, 255, 255, 0.1),
        5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
      border-radius: 15px;
      /* margin: 35px; */
      transition: 0.5s;
      margin-left: 30px !important;
      margin-top: 30px !important;
    }
  
    .serviceimage {
  
      margin-left: 45px;
  
    }
  
    .careerHeading {
      margin-left: 100px !important;
    }
  
    .careerpara {
      width: 300px !important;
      margin-left: 30px !important;
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
  
    .visionMissionMain {
      margin-left: 0px;
    }
  
    .whyChooseUsHeading {
      padding: 7px;
    }
  
    .contact_field h3 {
   
      padding: 12px 12px 12px 12px !important;
    }
   
    .contact_field p {
      width: 200px !important;
      margin-left: 30px;
    }
  
    .contactColumns {
      width: 75% !important;
      margin-left: 54px !important;
      margin-top: -100px !important;
    }
  
  
    .form-control {
      width: 200px !important;
      margin-left: 30px !important;
      margin-top: 5px;
    }
  
    button.contact_form_submit {
      width: unset !important;
      margin-bottom: 13px;
    }
  
    .contact_info_sec {
      width: 276px;
      margin-top: 341px;
      
    }
    .contact_inner
    {
      width: 300px !important;
      padding: 1px !important;
      margin-top: -50px !important;
      
    }
  
    .contact_field {
      text-align: center;
      padding: 0px 0px 0px 0px !important;
  
    }
  
    .contact_us {
      margin-bottom: 200px !important;
    }
  
    .CoreValuesRow {
      margin-left: 15px !important;
    }
  
  }



  