<div class="container-fluid bg-cover pmBg pb-5 p-5">
  <div class="rounded mx-auto">
    <h1
      class="fw-bold text-center aboutHeading p-5 display-5 text-white"
      data-aos="fade-down"
      data-aos-duration="1500"
    >
      Services
    </h1>
    <div class="divider"></div>
  </div>
</div>

<!-- Card content -->
<div
  class="servicesMain rounded bg-white w-75 h-75 mx-auto shadow"
  data-aos="zoom-out"
  data-aos-duration="1500"
>
  <h1 class="coverHeading fw-bold text-center p-5">
    A Trusted Name In <br />
    Software Developement
  </h1>

  <div
    class="container mt-5 mx-auto pb-4 row justify-content-center align-item-center"
  >
    <ng-container *ngFor="let service of services; let i = index">
      <div
        class="servicescolumns rounded col-lg-4 mt-auto p-2 shadow mx-1 col-sm-10 col-md-6 text-center"
        *ngIf="i <= showMore"
      >
        <ng-container>
          <img class="p-2 img-fluid" src="{{ service.imageUrl }}" />
          <h1 class="mt-2 fs-5">{{ service.heading1 }}</h1>
          <!-- <p class="p-large pGraph">
          {{ service.paragraph }}
        </p> -->
        </ng-container>
      </div>
    </ng-container>

    <div class="text-center mt-2 pt-2">
      <a
        class="px-md-4 w-100 h-100 bg-warning text-white ToggleButton rounded p-2 fw-bold"
        *ngIf="showbtn"
        (click)="show()"
        >Hide Services</a
      >
      <a
        class="px-md-4 w-100 h-100 bg-warning text-white ToggleButton rounded p-2 fw-bold"
        *ngIf="!showbtn"
        (click)="show()"
        >More Services</a
      >
    </div>
  </div>
</div>
