<section class="container-fluid bg-cover">
  <div class="container pt-5 pb-5">
    <div class="border w-50 p-3 bg-white">
      <h1 class="text-center">Apply for internship</h1>
      <form class="border p-5">
        <label class="fw-bold">Applicant Name</label>
        <input
          type="text"
          name="Name"
          class="form-control w-50 form-group"
          placeholder="Name"
          required
        />
        <label class="fw-bold">Contact Number</label>
        <input
          type="text"
          name="number"
          class="form-control w-50 form-group"
          placeholder="923*********"
          required
        />
        <label class="fw-bold">Email</label>
        <input
          type="email"
          name="Email"
          class="form-control w-50 form-group"
          placeholder="name21@gmail.com"
          required
        />
        <label class="fw-bold">Expertise</label>
        <textarea
          name="expertise"
          class="form-control w-50 form-group"
          placeholder="Your Expertise + Years of Experience"
          required
        ></textarea>
        <div class="mt-2 fw-bold">
          <label for="myfile">Upload CV</label><br />
          <input type="file" id="myfile" name="myfile" />
        </div>
        <br />
        <button type="submit" class="contact_form_submit fw-bold">
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
